<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INListRideOptionsIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Basic</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INGetRideStatusIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>How far away is my driver</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INRequestRideIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Get me a taxi</string>
			</array>
		</dict>
	</array>
	<key>ParameterVocabularies</key>
	<array>
		<dict>
			<key>ParameterNames</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
